In [1]:
# !pip install matplotlib
# !pip install scipy

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [3]:
# read in 2019 data set, clean it up, and narrow it down to the specific rows of interest

data2019_df = pd.read_csv("DataFiles/empl_occup_sex_race.csv")
data2019_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
data2019_df.head(15)

skinny_data2019 = data2019_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2019

,index,Occupation,Total Employed (thou) 2019,% Men 2019,% Women 2019,% White 2019,% Black 2019,% Asian 2019,% Latinx 2019
0,0,"Total, 16 years and over","157,538",53.0,47.0,77.7,12.3,6.5,17.6
1,1,"Management, professional, and related occupations","64,218",48.2,51.8,79,9.6,8.7,10.1
2,3,Management occupations,"18,985",60,40,83.6,7.8,6.1,10.7
3,4,Chief executives,"1,602",72.4,27.6,88.8,4.1,5.8,6.2
4,63,Professional and related occupations,"37,237",42.6,57.4,76.7,10.5,10,9.9

In [4]:
# Read in 2010 data set (which we cleaned up in csv file at same time as we converted it from its original txt format) 
#and narrow to relevant rows

data2010_df = pd.read_csv("DataFiles/occ_sex_race2010.csv")
data2010_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
data2010_df.head(12)

skinny_data2010 = data2010_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2010

,index,Occupation,Total Employed (thou) 2010,% Men 2010,% Women 2010,% White 2010,% Black 2010,% Asian 2010,% Latinx 2010
0,0,"Total, 16 years and over.........................","139,064",52.8,47.2,,10.8,4.8,14.3
1,1,"Management, professional, and related occupati...","51,743",48.5,51.5,,8.4,6.1,7.3
2,3,Management occupations...........................,"15,001",61.8,38.2,,6.4,4.4,7.6
3,4,Chief executives.................................,"1,505",74.5,25.5,,2.8,3.2,4.8
4,63,Computer support specialists.....................,388,72.4,27.6,,11.3,7.9,6.9

In [5]:
# merge the two dataframes

df2010_2019 = pd.merge(skinny_data2019,skinny_data2010, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019

,index,Occupation_x,Total Employed (thou) 2019,% Men 2019,% Women 2019,% White 2019,% Black 2019,% Asian 2019,% Latinx 2019,Total Employed (thou) 2010,% Men 2010,% Women 2010,% White 2010,% Black 2010,% Asian 2010,% Latinx 2010
0,0,"Total, 16 years and over","157,538",53.0,47.0,77.7,12.3,6.5,17.6,"139,064",52.8,47.2,,10.8,4.8,14.3
1,1,"Management, professional, and related occupations","64,218",48.2,51.8,79,9.6,8.7,10.1,"51,743",48.5,51.5,,8.4,6.1,7.3
2,3,Management occupations,"18,985",60,40,83.6,7.8,6.1,10.7,"15,001",61.8,38.2,,6.4,4.4,7.6
3,4,Chief executives,"1,602",72.4,27.6,88.8,4.1,5.8,6.2,"1,505",74.5,25.5,,2.8,3.2,4.8
4,63,Professional and related occupations,"37,237",42.6,57.4,76.7,10.5,10,9.9,388,72.4,27.6,,11.3,7.9,6.9

In [7]:
# Repeat for years 2011-2018
data2011_df = pd.read_csv("DataFiles/2011.csv")
data2011_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2011 = data2011_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2011

data2012_df = pd.read_csv("DataFiles/2012.csv")
data2012_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2012 = data2012_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2012

data2013_df = pd.read_csv("DataFiles/2013.csv")
data2013_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2013 = data2013_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2013

data2014_df = pd.read_csv("DataFiles/2014.csv")
data2014_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2014 = data2014_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2014

data2015_df = pd.read_csv("DataFiles/2015.csv")
data2015_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2015 = data2011_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2015

data2016_df = pd.read_csv("DataFiles/2016.csv")
data2016_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2016 = data2016_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2016

data2017_df = pd.read_csv("DataFiles/2017.csv")
data2017_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2017 = data2017_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2017

data2018_df = pd.read_csv("DataFiles/2018.csv")
data2018_df.fillna(value='', axis=None, inplace=True, limit=None, downcast=None)
skinny_data2018 = data2018_df.loc[[0,1,3,4,63],:].reset_index()
skinny_data2018

,index,Occupation,Total Employed (thou) 2018,% Men 2018,% Women 2018,% White 2018,% Black 2018,% Asian 2018,% Latinx 2018
0,0,"Total, 16 years and over","155,761",53.1,46.9,78.0,12.3,6.3,17.3
1,1,"Management, professional, and related occupations","62,436",48.5,51.5,79.4,9.6,8.5,9.7
2,3,Management occupations,"18,263",60.0,40.0,83.9,7.6,5.9,10.3
3,4,Chief executives,"1,573",73.1,26.9,89.5,3.5,5.9,6.1
4,63,Professional and related occupations,"36,586",43.2,56.8,77.2,10.5,9.6,9.6

In [15]:
#Merge everything into one big dataframe

df2010_2019 = pd.merge(skinny_data2019,skinny_data2011, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019 = pd.merge(skinny_data2019,skinny_data2012, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019 = pd.merge(skinny_data2019,skinny_data2013, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019 = pd.merge(skinny_data2019,skinny_data2014, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019 = pd.merge(skinny_data2019,skinny_data2015, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019 = pd.merge(skinny_data2019,skinny_data2016, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019 = pd.merge(skinny_data2019,skinny_data2017, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

df2010_2019 = pd.merge(skinny_data2019,skinny_data2018, how="left", on="index")
df2010_2019 = df2010_2019.drop(["Occupation_y",],axis=1)

#Clean up labeling and swap columns to make it easier to read
df2010_2019 = df2010_2019.rename(columns={'Occupation_x':'Occupation'})
df2010_2019=df2010_2019.swapaxes("index","columns")
df2010_2019

,0,1,2,3,4
index,0,1,3,4,63
Occupation,"Total, 16 years and over","Management, professional, and related occupations",Management occupations,Chief executives,Professional and related occupations
Total Employed (thou) 2019,"157,538","64,218","18,985","1,602","37,237"
% Men 2019,53.0,48.2,60,72.4,42.6
% Women 2019,47.0,51.8,40,27.6,57.4
% White 2019,77.7,79,83.6,88.8,76.7
% Black 2019,12.3,9.6,7.8,4.1,10.5
% Asian 2019,6.5,8.7,6.1,5.8,10
% Latinx 2019,17.6,10.1,10.7,6.2,9.9
Total Employed (thou) 2018,"155,761","62,436","18,263","1,573","36,586"
% Men 2018,53.1,48.5,60.0,73.1,43.2
% Women 2018,46.9,51.5,40.0,26.9,56.8
% White 2018,78.0,79.4,83.9,89.5,77.2
% Black 2018,12.3,9.6,7.6,3.5,10.5
% Asian 2018,6.3,8.5,5.9,5.9,9.6
% Latinx 2018,17.3,9.7,10.3,6.1,9.6